@font-face {
	font-family: "Marck Script";
	src: url("fonts/MarckScript-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "Amatic SC";
	font-weight: 400;
	src: url("fonts/AmaticSC-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "Amatic SC";
	font-weight: 700;
	src: url("fonts/AmaticSC-Bold.ttf") format("truetype");
}
@font-face {
	font-family: "Lobster";
	src: url("fonts/Lobster-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "Montserrat";
	src: url("fonts/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "Times New Roman";
	src: url("fonts/Times New Roman.ttf") format("truetype");
}
@font-face {
	font-family: "Mr De Haviland";
	src: url("fonts/MrDeHaviland-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "Cormorant Garamond Light Italic";
	src: url("fonts/CormorantGaramond-LightItalic.ttf") format("truetype");
}
@font-face {
	font-family: "Open Sans Condensed Light";
	src: url("fonts/OpenSansCondensed-Light.ttf") format("truetype");
}

*, *::before, *::after {
	margin: 0;
	padding: 0;
	font-size: 0;

	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
img {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.container {
	display: flex;
	flex-direction: column;
	width: 980px;
}

/* Header */

header {
	display: flex;
	justify-content: center;
	background-color: rgb(247, 245, 241);
}

/* Top header content */

.top-header-content {
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
}

/* Logo */

.top-header-content .logo-wrapper img {
	width: 155px;
}

/* Header top central block */

.top-header-content .central-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.central-content img {
	border-radius: 50%;
	margin-bottom: 15px;
}

.central-content h1 {
	font-family: "Marck Script", serif;
	font-size: 18px;
	font-weight: 400;
}

/* Header top "contact me" block */

.contact-me {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 10px;
}
.contact-me h3 {
	font-family: "Amatic SC", serif;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 0.1em;
	margin-bottom: 30px;
}

/* Contacts inner block */

.contacts {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 160px;
	border-radius: 13px;
	background-color: rgb(198, 187, 151, 0.75);
}
.contacts .number {
	font-family: "Lobster", serif;
	font-size: 14px;
	font-style: normal;
	letter-spacing: 0.03em;
	color: rgb(75, 67, 41);
}
.contacts span {
	font-family: "Amatic SC", serif;
	font-size: 11px;
}

.contacts .apps img:first-child {
	margin-right: 25px;
}



/* Navigation */

nav {
	display: flex;
	justify-content: center;
	padding: 26px;
	margin: 5px 0;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

/* Navigation links */

nav a {
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	line-height: 100%;
	color: #000;
	text-decoration: none;
}
nav a[href="./"] {
	color: rgb(25, 25, 25);
}
nav a:not(:last-child) {
	margin-right: 20px;
}

/* Main section */

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(239, 236, 226);
}

/* Main section slideshow */

.slideshow {
	display: flex;
	justify-content: center;
	padding: 25px 0;
}
.slideshow .slides {
	width: 575px;
	height: 368px;
	background: url("images/slide-1.jpg");
	background-size: cover;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}

/* Tagline */

.tagline-wrapper {
	display: flex;
	justify-content: center;
	padding: 30px 0;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
.tagline-wrapper span {
	font-family: "Times New Roman", serif;
	font-size: 28px;
	color: rgb(71, 71, 71);
}
.tagline-wrapper .bold {
	font-family: "Mr De Haviland", serif;
	font-weight: bold;
	color: #000;
}

/* Advantages */

.advantages {
	display: flex;
	justify-content: space-around;
	padding: 70px 0 100px 0;
	border-bottom: 1px solid black;
}
.advantage {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	max-width: 270px;
}
.advantage .advantage-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 200px;
	background-color: rgb(198, 187, 151);
	border-radius: 40px;
	margin-bottom: 25px;
}
.advantage span {
	font-family: "Marck Script", serif;
	font-size: 18px;
}

/* Main footer */

.main-footer {
	padding: 30px 0 60px 30px;
}
.main-footer div {
	max-width: 250px;
}
.main-footer div p, .main-footer-link {
	font-family: "Cormorant Garamond Light Italic", serif;
	font-size: 24px;
	line-height: 1.5em;
}
.main-footer-link {
	color: black;
	font-weight: 700;
}






/* Footer */

footer {
	display: flex;
	justify-content: center;
	background-color: rgb(247, 245, 241);
}
footer .container {
	flex-direction: row;
	justify-content: space-between;
	padding: 50px 4% 55px 1%;
}

/* Footer text information */

.footer-info .copyright {
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
}
.footer-info address {
	font-family: "Open Sans Condensed Light", sans-serif;
	font-size: 16px;
	font-style: normal;
	margin-top: 20px;
}

/* Footer contacts */

footer .apps img:first-child {
	margin-right: 10px;
}



/* All screen resolutions */

@media screen and (max-width: 1039px) {
	.container {
		width: 740px;
	}

	/* Header */

	/* Logo */

	.top-header-content .logo-wrapper img {
		width: 120px;
	}

	/* Header top central block */

	.central-content img {
		width: 140px;
	}
	.central-content h1 {
		font-size: 16px;
	}

	/* Header top "contact me" block */

	.contact-me h3 {
		font-size: 16px;
		margin-bottom: 20px;
	}

	/* Contacts inner block */

	.contacts {
		width: 130px;
		border-radius: 13px;
	}
	.contacts .number {
		font-size: 12px;
	}
	.apps img {
		height: 23px;
	}
	.contacts .apps img:first-child {
		margin-right: 15px;
	}

	/* Navigation links */

	nav a {
		font-size: 13px;
	}




	/* Main section */

	/* Tagline */

	.tagline-wrapper span {
		font-size: 24px;
	}

	/* Advantages */

	.advantages {
		padding: 50px 0 70px 0;
	}
	.advantage {
		max-width: 210px;
	}
	.advantage .advantage-icon {
		width: 140px;
		height: 140px;
		border-radius: 35px;
		margin-bottom: 25px;
	}
	.advantage .advantage-icon img {
		width: 90px;
		height: 90px;
	}
	.advantage span {
		font-size: 14px;
	}

	/* Main footer */

	.main-footer {
		padding: 30px 0 60px 30px;
	}
	.main-footer div {
		max-width: 200px;
	}
	.main-footer div p, .main-footer-link {
		font-size: 20px;
	}



	/* Footer */

	/* Footer text information */

	.footer-info .copyright {
		font-size: 13px;
	}
	.footer-info address {
		font-size: 15px;
	}
}
@media screen and (max-width: 799px) {
	.container {
		width: 540px;
	}

	/* Header */

	/* Logo */

	.top-header-content .logo-wrapper img {
		width: 100px;
	}

	/* Header top central block */

	.central-content img {
		width: 120px;
	}
	.central-content h1 {
		font-size: 14px;
	}

	/* Header top "contact me" block */

	.contact-me h3 {
		font-size: 15px;
		margin-bottom: 15px;
	}

	/* Contacts inner block */

	.contacts {
		width: 100px;
		border-radius: 13px;
	}
	.contacts .number {
		font-size: 10px;
	}
	.contacts span {
		font-size: 8px;
	}
	.contacts .apps img {
		height: 18px;
	}

	/* Navigation */

	nav {
		padding: 18px;
	}

	/* Navigation links */

	nav a {
		font-size: 12px;
	}




	/* Main section */

	/* Main section slideshow */

	.slideshow .slides {
		width: 400px;
		height: 256px;
	}

	/* Tagline */

	.tagline-wrapper {
		padding: 20px 0;
	}
	.tagline-wrapper span {
		font-size: 20px;
	}

	/* Advantages */

	.advantages {
		padding: 40px 0 60px 0;
	}
	.advantage {
		max-width: 170px;
	}
	.advantage .advantage-icon {
		width: 100px;
		height: 100px;
		border-radius: 30px;
		margin-bottom: 20px;
	}
	.advantage .advantage-icon img {
		width: 65px;
		height: 65px;
	}
	.advantage span {
		font-size: 13px;
	}

	/* Main footer */

	.main-footer {
		padding: 20px 0 40px 30px;
	}
	.main-footer div {
		max-width: 180px;
	}
	.main-footer div p, .main-footer-link {
		font-size: 18px;
	}



	/* Footer */

	/* Footer text information */

	.footer-info .copyright {
		font-size: 11px;
	}
	.footer-info address {
		font-size: 13px;
	}
}
@media screen and (max-width: 599px) {
	.container {
		width: 390px;
	}

	/* Header */

	/* Logo */

	.top-header-content .logo-wrapper img {
		width: 80px;
	}

	/* Header top central block */

	.central-content img {
		width: 100px;
	}
	.central-content h1 {
		font-size: 12px;
	}

	/* Header top "contact me" block */

	.contact-me h3 {
		font-size: 12px;
		margin-bottom: 10px;
	}

	/* Contacts inner block */

	.contacts {
		width: 80px;
		border-radius: 10px;
	}
	.contacts .number {
		font-size: 9px;
	}
	.contacts span {
		font-size: 7px;
	}
	.contacts .apps img {
		height: 15px;
	}

	/* Navigation */

	nav {
		padding: 15px;
	}

	/* Navigation links */

	nav a {
		font-size: 11px;
	}




	/* Main section */

	/* Main section slideshow */

	.slideshow .slides {
		width: 350px;
		height: 224px;
	}

	/* Tagline */

	.tagline-wrapper {
		padding: 15px 0;
	}
	.tagline-wrapper span {
		font-size: 16px;
	}

	/* Advantages */

	.advantages {
		padding: 30px 0 40px 0;
	}
	.advantage {
		max-width: 100px;
	}
	.advantage .advantage-icon {
		width: 80px;
		height: 80px;
		border-radius: 25px;
		margin-bottom: 15px;
	}
	.advantage .advantage-icon img {
		width: 52px;
		height: 52px;
	}
	.advantage span {
		font-size: 12px;
	}

	/* Main footer */

	.main-footer {
		padding: 15px 0 20px 15px;
	}
	.main-footer div {
		max-width: 150px;
	}
	.main-footer div p, .main-footer-link {
		font-size: 15px;
	}



	/* Footer */

	/* Footer text information */

	footer .container {
		padding: 25px 4% 30px 1%;
	}

	.footer-info .copyright {
		font-size: 10px;
	}
	.footer-info address {
		font-size: 12px;
		margin-top: 15px;
	}
}
@media screen and (max-width: 449px) {
	.container {
		width: 260px;
	}

	/* Header */

	/* Logo */

	.top-header-content .logo-wrapper img {
		width: 60px;
	}

	/* Header top central block */

	.central-content img {
		width: 60px;
	}
	.central-content h1 {
		font-size: 8px;
	}

	/* Header top "contact me" block */

	.contact-me {
		padding-top: 0px;
	}

	.contact-me h3 {
		font-size: 8px;
		margin-bottom: 5px;
	}

	/* Contacts inner block */

	.contacts {
		width: 60px;
		border-radius: 8px;
	}
	.contacts .number {
		font-size: 7px;
	}
	.contacts span {
		font-size: 5px;
	}
	.apps img {
		height: 15px;
	}

	/* Navigation */

	nav {
		padding: 15px;
	}

	/* Navigation links */

	nav a {
		font-size: 8px;
	}
	nav a:not(:last-child) {
		margin-right: 15px;
	}




	/* Main section */

	/* Main section slideshow */

	.slideshow .slides {
		width: 250px;
		height: 160px;
	}

	/* Tagline */

	.tagline-wrapper {
		padding: 10px 0;
	}
	.tagline-wrapper span {
		font-size: 13px;
	}

	/* Advantages */

	.advantages {
		padding: 20px 0 25px 0;
	}
	.advantage {
		max-width: 60px;
	}
	.advantage .advantage-icon {
		width: 50px;
		height: 50px;
		border-radius: 15px;
		margin-bottom: 10px;
	}
	.advantage .advantage-icon img {
		width: 33px;
		height: 33px;
	}
	.advantage span {
		font-size: 8px;
	}

	/* Main footer */

	.main-footer {
		padding: 10px 0 15px 10px;
	}
	.main-footer div {
		max-width: 120px;
	}
	.main-footer div p, .main-footer-link {
		font-size: 12px;
	}



	/* Footer */

	/* Footer text information */

	footer .container {
		padding: 20px 4% 25px 1%;
	}

	.footer-info .copyright {
		font-size: 8px;
	}
	.footer-info address {
		font-size: 10px;
		margin-top: 10px;
	}
}