@font-face {
	font-family: "Marck Script";
	src: url("../../fonts/MarckScript-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "Amatic SC";
	font-weight: 400;
	src: url("../../fonts/AmaticSC-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "Amatic SC";
	font-weight: 700;
	src: url("../../fonts/AmaticSC-Bold.ttf") format("truetype");
}
@font-face {
	font-family: "Lobster";
	src: url("../../fonts/Lobster-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "Montserrat";
	src: url("../../fonts/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "Montserrat";
	font-style: italic;
	src: url("../../fonts/Montserrat-Italic.ttf") format("truetype");
}
@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "Open Sans Condensed Light";
	src: url("../../fonts/OpenSansCondensed-Light.ttf") format("truetype");
}

*, *::before, *::after {
	margin: 0;
	padding: 0;
	font-size: 0;

	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
img {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.container {
	display: flex;
	flex-direction: column;
	width: 980px;
}

/* Header */

header {
	display: flex;
	justify-content: center;
	background-color: rgb(247, 245, 241);
}

/* Top header content */

.top-header-content {
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
}

/* Logo */

.top-header-content .logo-wrapper img {
	width: 155px;
}

/* Header top central block */

.top-header-content .central-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.central-content img {
	border-radius: 50%;
	margin-bottom: 15px;
}

.central-content h1 {
	font-family: "Marck Script", serif;
	font-size: 18px;
	font-weight: 400;
}

/* Header top "contact me" block */

.contact-me {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 10px;
}
.contact-me h3 {
	font-family: "Amatic SC", serif;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 0.1em;
	margin-bottom: 30px;
}

/* Contacts inner block */

.contacts {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 160px;
	border-radius: 13px;
	background-color: rgb(198, 187, 151, 0.75);
}
.contacts .number {
	font-family: "Lobster", serif;
	font-size: 14px;
	font-style: normal;
	letter-spacing: 0.03em;
	color: rgb(75, 67, 41);
}
.contacts span {
	font-family: "Amatic SC", serif;
	font-size: 11px;
}

.contacts .apps img:first-child {
	margin-right: 25px;
}



/* Navigation */

nav {
	display: flex;
	justify-content: center;
	padding: 26px;
	margin: 5px 0;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

/* Navigation links */

nav a {
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	line-height: 100%;
	color: #000;
	text-decoration: none;
}
nav a[href="../"] {
	color: rgb(25, 25, 25);
}
nav a:not(:last-child) {
	margin-right: 20px;
}

/* Main section */

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #efece2;
}

main h1 {
	font-family: "Roboto", sans-serif;
	font-size: 35px;
	font-weight: 400;
	line-height: 100%;
	text-align: center;
	margin: 30px 0 35px 0;
}

/* Article */
main article {
	display: flex;
	flex-direction: column;
}
main article p {
	font-family: "Montserrat", sans-serif;
	font-size: 15px;
	max-width: 940px;
	margin-bottom: 5px;
}


/* Article lists */

.lists {
	padding-left: 15px;
}
.lists h4 {
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	font-weight: 400;
	margin: 30px 0;
}
.lists ul {
	padding-left: 20px;
}
.lists ul li {
	font-family: "Montserrat", sans-serif;
	font-size: 15px;
	font-style: italic;
	margin-bottom: 15px;
}

/* Price table */

.prices {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.prices h3 {
	width: 220px;

	font-family: "Roboto", sans-serif;
	font-size: 35px;
	font-weight: normal;
	line-height: 100%;
	text-align: center;
	padding-bottom: 15px;
	border-bottom: 1px solid black;
	margin: 45px 0;
}
.prices table {
	margin-bottom: 65px;
	border-collapse: collapse;
}
.prices table th {
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	font-weight: 400;

	padding: 10px 0;
	width: 200px;
	height: 50px;
	line-height: 100%;
}
.prices table th:first-child {
	width: 500px;
}
.prices table td {
	padding: 20px;
	height: 70px;

	font-family: "Roboto", sans-serif;
	font-size: 16px;
	text-align: center;
}
.prices table th, .prices table td {
	border: 1px dashed #000;
}


/* Button */

.btn-wrapper {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}
.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 142px;
	height: 40px;
	border: 1px solid black;

	font-family: "Montserrat", sans-serif;
	font-size: 15px;
	line-height: 1.1em;
	color: black;
	text-decoration: none;
	transition: all .7s;
}
.btn:hover {
	background-color: black;
	color: white;
}




/* Footer */

footer {
	display: flex;
	justify-content: center;
	background-color: rgb(247, 245, 241);
}
footer .container {
	flex-direction: row;
	justify-content: space-between;
	padding: 50px 4% 55px 1%;
}

/* Footer text information */

.footer-info .copyright {
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
}
.footer-info address {
	font-family: "Open Sans Condensed Light", sans-serif;
	font-size: 16px;
	font-style: normal;
	margin-top: 20px;
}

/* Footer contacts */

footer .apps img:first-child {
	margin-right: 10px;
}






/* All screen resolutions */

@media screen and (max-width: 1039px) {
	.container {
		width: 740px;
	}

	/* Header */

	/* Logo */

	.top-header-content .logo-wrapper img {
		width: 120px;
	}

	/* Header top central block */

	.central-content img {
		width: 140px;
	}
	.central-content h1 {
		font-size: 16px;
	}

	/* Header top "contact me" block */

	.contact-me h3 {
		font-size: 16px;
		margin-bottom: 20px;
	}

	/* Contacts inner block */

	.contacts {
		width: 130px;
		border-radius: 13px;
	}
	.contacts .number {
		font-size: 12px;
	}
	.apps img {
		height: 23px;
	}
	.contacts .apps img:first-child {
		margin-right: 15px;
	}

	/* Navigation links */

	nav a {
		font-size: 13px;
	}




	/* Main section */

	main h1 {
		font-size: 30px;
		margin: 30px 0 35px 0;
	}

	/* Article */

	main article p {
		font-size: 14px;
	}


	/* Article lists */

	.lists h4 {
		font-size: 16px;
		margin: 25px 0;
	}
	.lists ul li {
		font-size: 13px;
	}

	/* Price table */

	.prices h3 {
		width: 200px;
		font-size: 30px;
		margin: 40px 0;
	}
	.prices table {
		margin-bottom: 60px;
	}
	.prices table th {
		font-size: 17px;
		width: 150px;
		height: 45px;
	}
	.prices table th:first-child {
		width: 370px;
	}
	.prices table td {
		height: 60px;
		font-size: 15px;
	}

	/* Button */

	.btn {
		width: 130px;
		height: 37px;
		font-size: 13px;
	}



	/* Footer */

	/* Footer text information */

	.footer-info .copyright {
		font-size: 13px;
	}
	.footer-info address {
		font-size: 15px;
	}
}
@media screen and (max-width: 799px) {
	.container {
		width: 540px;
	}

	/* Header */

	/* Logo */

	.top-header-content .logo-wrapper img {
		width: 100px;
	}

	/* Header top central block */

	.central-content img {
		width: 120px;
	}
	.central-content h1 {
		font-size: 14px;
	}

	/* Header top "contact me" block */

	.contact-me h3 {
		font-size: 15px;
		margin-bottom: 15px;
	}

	/* Contacts inner block */

	.contacts {
		width: 100px;
		border-radius: 13px;
	}
	.contacts .number {
		font-size: 10px;
	}
	.contacts span {
		font-size: 8px;
	}
	.contacts .apps img {
		height: 18px;
	}

	/* Navigation */

	nav {
		padding: 18px;
	}

	/* Navigation links */

	nav a {
		font-size: 12px;
	}




	/* Main section */

	main h1 {
		font-size: 26px;
		margin: 25px 0 30px 0;
	}

	/* Article */

	main article p {
		font-size: 12px;
	}


	/* Article lists */

	.lists h4 {
		font-size: 15px;
		margin: 20px 0;
	}
	.lists ul li {
		font-size: 12px;
	}

	/* Price table */

	.prices h3 {
		width: 180px;
		font-size: 26px;
		margin: 35px 0;
	}
	.prices table {
		margin-bottom: 50px;
	}
	.prices table th {
		font-size: 15px;
		padding: 5px 0;
		width: 120px;
		height: 35px;
	}
	.prices table th:first-child {
		width: 250px;
	}
	.prices table td {
		padding: 15px;
		height: 50px;
		font-size: 13px;
	}

	/* Button */

	.btn-wrapper {
		margin-bottom: 25px;
	}
	.btn {
		width: 110px;
		height: 31px;
		font-size: 11px;
	}

	



	/* Footer */

	/* Footer text information */

	.footer-info .copyright {
		font-size: 11px;
	}
	.footer-info address {
		font-size: 13px;
	}
}
@media screen and (max-width: 599px) {
	.container {
		width: 390px;
	}

	/* Header */

	/* Logo */

	.top-header-content .logo-wrapper img {
		width: 80px;
	}

	/* Header top central block */

	.central-content img {
		width: 100px;
	}
	.central-content h1 {
		font-size: 12px;
	}

	/* Header top "contact me" block */

	.contact-me h3 {
		font-size: 12px;
		margin-bottom: 10px;
	}

	/* Contacts inner block */

	.contacts {
		width: 80px;
		border-radius: 10px;
	}
	.contacts .number {
		font-size: 9px;
	}
	.contacts span {
		font-size: 7px;
	}
	.contacts .apps img {
		height: 15px;
	}

	/* Navigation */

	nav {
		padding: 15px;
	}

	/* Navigation links */

	nav a {
		font-size: 11px;
	}




	/* Main section */

	main h1 {
		font-size: 20px;
		margin: 25px 0;
	}

	/* Article */

	main article p {
		font-size: 9px;
	}


	/* Article lists */

	.lists {
		padding-left: 5px;
	}
	.lists h4 {
		font-size: 13px;
		margin: 15px 0;
	}
	.lists ul li {
		font-size: 10px;
		margin-bottom: 10px;
	}

	/* Price table */

	.prices h3 {
		width: 140px;
		font-size: 20px;
		margin: 30px 0;
	}
	.prices table {
		margin-bottom: 35px;
	}
	.prices table th {
		font-size: 13px;
		width: 110px;
		height: 30px;
	}
	.prices table th:first-child {
		width: 180px;
	}
	.prices table td {
		padding: 10px;
		height: 40px;
		font-size: 11px;
	}

	/* Button */

	.btn-wrapper {
		margin-bottom: 20px;
	}
	.btn {
		width: 90px;
		height: 25px;
		font-size: 9px;
	}

	



	/* Footer */

	/* Footer text information */

	footer .container {
		padding: 25px 4% 30px 1%;
	}

	.footer-info .copyright {
		font-size: 10px;
	}
	.footer-info address {
		font-size: 12px;
		margin-top: 15px;
	}
}
@media screen and (max-width: 449px) {
	.container {
		width: 290px;
	}

	/* Header */

	/* Logo */

	.top-header-content .logo-wrapper img {
		width: 60px;
	}

	/* Header top central block */

	.central-content img {
		width: 60px;
	}
	.central-content h1 {
		font-size: 8px;
	}

	/* Header top "contact me" block */

	.contact-me {
		padding-top: 0px;
	}

	.contact-me h3 {
		font-size: 8px;
		margin-bottom: 5px;
	}

	/* Contacts inner block */

	.contacts {
		width: 60px;
		border-radius: 8px;
	}
	.contacts .number {
		font-size: 7px;
	}
	.contacts span {
		font-size: 5px;
	}
	.apps img {
		height: 15px;
	}

	/* Navigation */

	nav {
		padding: 15px;
	}

	/* Navigation links */

	nav a {
		font-size: 8px;
	}
	nav a:not(:last-child) {
		margin-right: 15px;
	}




	/* Main section */

	main h1 {
		font-size: 16px;
		margin: 20px 0;
	}

	/* Article */

	main article p {
		font-size: 7px;
	}


	/* Article lists */

	.lists {
		padding-left: 5px;
	}
	.lists h4 {
		font-size: 11px;
		margin: 15px 0;
	}
	.lists ul li {
		font-size: 7px;
		margin-bottom: 5px;
	}

	/* Price table */

	.prices h3 {
		width: 100px;
		font-size: 16px;
		padding-bottom: 10px;
		margin: 25px 0 20px 0;
	}
	.prices table {
		margin-bottom: 20px;
	}
	.prices table th {
		font-size: 10px;
		width: 80px;
		height: 25px;
	}
	.prices table th:first-child {
		width: 120px;
	}
	.prices table td {
		padding: 10px;
		height: 30px;
		font-size: 8px;
	}

	/* Button */

	.btn-wrapper {
		margin-bottom: 15px;
	}
	.btn {
		width: 70px;
		height: 19px;
		font-size: 7px;
	}

	



	/* Footer */

	/* Footer text information */

	footer .container {
		padding: 20px 4% 25px 1%;
	}

	.footer-info .copyright {
		font-size: 8px;
	}
	.footer-info address {
		font-size: 10px;
		margin-top: 10px;
	}
}